<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1082504f-dd0b-4bb5-979b-6676b188dde0" name="Test Suite K Passant" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="1082504f-dd0b-4bb5-979b-6676b188dde0fileName">Test-Suite-K-Passant</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>